.select {
  @apply appearance-none h-10 rounded-xl w-full pl-4  placeholder-red-lighter;
  position: relative;
}

.select::after {
  @apply w-2 h-2 text-red-dark;
  content: "";
  position: absolute;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
}

.selectIcon {
  @apply absolute w-0 h-0 border-l-8 border-r-8 bottom-4 right-3 bottom-4 right-3 border-opacity-0;
  border-top: 10px solid theme("colors.red.dark");
}
